@import "tailwindcss";

@theme {
  --color-bordo: #7B001C;
  --color-white: #FFFFFF;
  --color-black: #0F0F0F;
  
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #0f0f0f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer base {
  * {
    @apply border-white/10;
  }
  body {
    @apply antialiased;
  }
}
